body{
	background-color: #EAEAEA;
	margin-bottom: 0;
	color: #555555;
	font-family: Georgia;
	}
#wrapper{
	background-color: #1e0606;
	background-repeat: no-repeat;
	overflow: hidden;
}	
header{
	color: #1e0606;
	background-image: url("beans.jpg");
	width: 100%;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-content: center;
	text-decoration: none;
	font-size: 2rem;
}
header a:link {
	color: #FFFFFF;
	text-decoration: none;
}
header a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
header a:hover {
	color: #EDC999;
	text-decoration: none;
}
nav{
	font-weight: bold;
	padding: 1em;
	text-align: center;
	font-size: 1.5rem;
	
}
nav ul{
	list-style-type: none;
	padding-left: 0;
	border-bottom: 1px brown;
}
nav a{
	display: block;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 1em;	
	padding-left: 0;
}
nav a:link {
	color: #FFFFFF;
}
nav a:visited {
	color: #330A0A;
}
nav a:hover {
	color: #EDC999;
}
#beanhero{
	width: 100%;
	height: 100px;
	background-size: cover;
	background-image: url("beans.jpg");
	background-repeat: no-repeat;
	background-position: center;
}			
main{
	background: linear-gradient(to bottom, #1E0606, #EDC999);
	padding-top: 1px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 20px;
	display: block;
	overflow: visible;
	align-content: center;
}
h1{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	font-family: Georgia;
	letter-spacing: 0.5em;
}
h2{
	color:#FFFFFF;
	text-align: center;
	font-family: Georgia;
	padding: 1em;
	font-size: 160%;
	text-shadow: 2px 2px 2px #000000 !important;
	letter-spacing: 1.5px;
}
p {
	font-family: Georgia;
	text-align: center;
	color: #000000;
}
h3{
	font-family: Georgia;
	color: #FFFFFF;
	padding: 0.5em;
	outline: 1px solid #1e0606;
}
#contact{
	font-size: 90%;
	text-decoration: none;
}
footer{
	font-size: 95%;
	font-style: italic;
	text-align: left;
	font-family: Georgia;
	padding: 2em;
	margin-bottom: 2em;
	margin-top: 2em;
}
.footerleft {
	padding: 2em;
	float: left;
	text-align: left;
	align-content: left;
}
.footerright {
	padding: 2em;
	text-align: right;
	float: right;
	align-content: right;
}
@supports (display:grid) {
	
}
@media screen and (min-width: 600px) {
	nav ul {
		padding: 40px;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 10px;
		margin: 0;
		display: flex;
		justify-content: space-around; 
		align-items: center;
	} 
	nav a {
		display: inline-block;
		flex-wrap: nowrap;
		margin-left: 2em;
		margin-right: 2em;

	}
	.flow {
		display: flex;
		padding: 20px;
		flex-direction: row;
		justify-content: space-between;
		gap: 2em;
	}
	
	.flow div {
		flex: 1;
		text-align: center;
	}
	
	.flow img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin-bottom: 1em;
	}
}